<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{% include "source/_includes/components/head-meta-tags.njk" %}

	{% include "source/_includes/components/head-css-tags.njk" %}
</head>
<body>

<header class="container">
	<div class="row justify-content-between py-3 mb-5">
		<h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

		<div>
			<a href="/posts/" class="btn btn-primary">Posts</a>
			<a href="/about/" class="btn btn-primary">About</a>
		</div>
	</div><!-- end row -->
</header><!-- end container -->

<main>
	{{ content | safe }}
</main>

<footer></footer>



{% include "source/_includes/components/footer-js-tags.njk" %}

</body>
</html>
